/* This is my css for my shape up */


/* HEADER SETTINGS */

header img  
{
    float: left;
    margin-right: 30px;
}

header h1, h2 
{
    margin: 0;
    padding: 0;
}

header h1 
{
    
     color: steelblue;
     font-style: italic;
     text-shadow: 2px 2px 2px;
     margin-bottom: 10px;
     font-size: 3em;
}
header h2 
{
    font-size: 1.7em;
}


header{
    background-image: -webkit-linear-gradient(180deg, white, rgb(117, 184, 239));
    background-image: -moz-linear-gradient(180deg, white, rgb(117, 184, 239));
    background-image: -o-linear-gradient(180deg, white, rgb(117, 184, 239));
    background-image: linear-gradient(180deg, white, rgb(117, 184, 239));
    padding: 50px;
   
}

/* Nav Settings */
nav
 {
    border: 2px solid steelblue;
    background-color: steelblue;
    
    
    
    font-size: 1.2em;
    font-weight: bold;
}

nav ul li
{
    
    margin-left: 30px;
    position: relative;
    padding: 0px 30px 0px 30px;
    display: inline-block;
    
}


nav ul li a
{
    color: white;
    text-decoration: none;
}

nav ul li a:hover
{
    background-color: lightblue;
    
    padding: 10px 0px 10px 0px;
    
}

/*---------------------------------------*/

.subnav ul
{
    
    background-color: steelblue;
    text-align: center;
    display: none;
    position: absolute;
    width: 108%;
    left: -25px;
   
    
}

.subnav ul li 
{
    
    line-height: 40px;
    margin-left: -50px;
    margin-bottom: 15px;
    
}

.subnav ul li a 
{
    
    color: white;
    
}


.subnav:hover ul
{
    display: block;
}


/*-----------------------------------------------------------*/

nav ul li a:is(:link, :active, :visited).active 
{
    color: black;
}
#current
{
    color: black;
}
/*-----------------------------------------------------------*/

/* BODY SETTINGS */
body{
    
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 75.000em;
    border: 3px solid steelblue;
    box-shadow: 0 9px 18px 9px black;
    margin: 0 auto;
}


/*SECTIONS SETTINGS*/

.aside_section 
{
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-bottom: 2em;
    padding: 0;
}

section 
{
    line-height: 1.8em;
    flex-basis: 65%;
    padding: 1.5em 1em 0em .5em;
    margin: 0;
    
    order: 1;
}
section h3 
{
    color: red;
}

section h2 
{
    font-weight: bold;
}





/* ASIDE SETTINGS */

.aside1 
{
  
    padding: 1.5em 0em 0 0;
    margin: 0 1.5em 0 0;   
    flex-basis: 30%;
    
    order: 0;
}

.aside1 h2
{
    color: red;
    margin-left: 1em;
}

.aside1 ul 
{
    line-height: 1.8em;
   
    
}



/* LINK SETTINGS */

a.class2{color: steelblue;}

/*FOOTER SETTINGS*/
footer{
    background-color: steelblue;
    padding: 2px;
    text-align: center;
    clear: both;
    color: white;

}




@media only screen and (max-width: 1200px)

{
    body 
    {
        width: 95%;
        margin: 0 auto;
        font-size: 97%;
       
        
    }
    /*html { background-color: gray;}*/
}