
body{
    
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    border: 3px solid steelblue;
    box-shadow: 0 9px 18px 9px black;
    margin: 0 auto;
}

section, aside {
    padding: 20px;
}

section {
    width: 550px;
    float: left;
    padding: 25px 30px;
    margin-left: 20px;
}

.aside1 {
    float: left;
    
    padding: 25px 0 0 30px;
    margin-top: 20px;
}

.aside1 h2{
    color: red;
}

.aside1 ul {
    line-height: 2em;
    font-weight: bold;
}

.aside2 h2{
    color: red;
    margin-top: 40px;
   
}


header img  {
    float: left;
}


h1 {
    
     color: rgb(85, 146, 170);
     font-style: italic;
     text-shadow: 2px 2px 2px;
}

a.class1{color: red;}
a.class2{color: steelblue;}









header{
    background-image: linear-gradient(180deg, white, steelblue);
    padding: 20px;
   
   
    
}

footer{
    background-color: steelblue;
    padding: 2px;
    text-align: center;
    clear: both;
    color: white;

}

