

header,
nav,
.sidebar1,
video,
footer

{
    display: none;
}

body 
{
    border: none;
    box-shadow: none;
    margin: 0 2em 0 2em;
    width: auto;
    align-items: center;
    align-self: center;
    line-height: 1.5;

}

.xPrint
{
    display: none;
}

.story 
{
    font-family: serif;
    align-self: center;
  
}

.story h2
{
    font-family: sans-serif;
    border-bottom: 3px solid black;
}


